.page-last-modified {
	display: none;
}

article.infomail-post {
	margin-bottom: 4em;
}

.infomail-block-hr {
    margin-top: 1.5em;
}

.infomail-post-category {
    width: fit-content;
	border-radius: 16px;
	border-color: currentColor;
	border-width: 1px;
	border-style: solid;
	font-size: var(--wp--preset--font-size--small);
    font-weight: 800;
	letter-spacing: normal;
	line-height: 1.5;
	padding-top: 0.2rem;
	padding-right: 0.6rem;
	padding-bottom: 0.25rem;
	padding-left: 0.6rem;
}
