.page-last-modified {
    display: none;
}

article.infomail-post {
    margin-bottom: 5em;
}

.infomail-post-category {
    display: inline-block;
    margin: 0 0 0.75rem;
    padding: 0.4rem 0.75rem;
    font-size: 0.8rem;
    line-height: 1.2;
    border: 1px solid #000;
    border-radius: 0.55rem;
}
